body {
  background-color: #000;
  border-top: 13px solid #3a3a3a;
  margin: 0px;
  font-family:  Vollkorn,-apple-system,BlinkMacSystemFont,Georgia,Times New Roman,Times,serif;
}

p {
  font-family: 'Vollkorn', serif;
  color: #D3DCDF;
  font-size: 15px;
}

header{
  text-align: center;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
  border-top: #3a3a3a
}

aside {
  float: right;
}

.banner {
  padding-top: 40px;
  margin: 0 auto 8px;
}

.img1 {
  border-radius: 50%;
  width: 130px;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

h2 {
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  color: beige;
  padding:
}

h3 {
  font-family: 'Vollkorn', serif;
  color: #D3DCDF;
  font-size: 35px;
}

h4{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

a {
  color: #ff3;
  transition: color .2s ease;
  text-decoration: none;
  cursor: pointer;

}

a:hover {
  color: grey;
  transition: color .2s ease;
  z-index: 100;

}

.border {
  border-top: 3px double;
  color: #3a3a3a;
  line-height: 1.3;
}

.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 35px;
  padding-top: 20px;
}

item{
  text-align: center;
}

.item:hover {
  opacity: .65;
  filter: alpha(opacity=50)
}

.container-2 {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
}

.img2 {
  padding-left: 490px;
}

.img3 {
  padding-top: 20px;
}

.img4 {
  padding-top: 20px;
}

.img5 {
  padding-top: 20px;

}

footer{
  font-size: 20px;
  word-spacing: 10px;
  margin: auto;
}